name: Power Platform Deployment Pipeline

on:
  workflow_dispatch: # allows manual trigger
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    # Step 1: Install Power Platform CLI (via official action)
    - name: Install Power Platform CLI
      uses: microsoft/powerplatform-actions/actions-install@v1

    # Step 0: Authenticate to DEV environment
    - name: Authenticate to Dev
      uses: microsoft/powerplatform-actions/authenticate@v1
      with:
        PP_ENV_URL: ${{ secrets.PP_ENV_URL  }}
        PP_USERNAME: ${{ secrets.PP_USERNAME  }}
        PP_PASSWORD: ${{ secrets.PP_PASSWORD  }}

    # Step 1: Export solution from Dev
    - name: Export solutions from Dev
      uses: microsoft/powerplatform-actions/export-solution@v1
      with:
        PP_ENV_URL: ${{ secrets.PP_ENV_URL  }}
        PP_USERNAME: ${{ secrets.PP_USERNAME  }}
        PP_PASSWORD: ${{ secrets.PP_PASSWORD  }}
        solution-name: UnderwritingWorkbench
        solution-output-file: = UnderwritingWorkbench.zip
        working-directory: Solutions
        managed: false
        overwrite: true

    # Step 5: Run Best Practice Validation
    - name: Run Best Practice Validation
      shell: pwsh
      run: |
        pwsh ./scripts/validate-solution.ps1 -solutionPath .\UnpackedSolution

    # Step 6: Authentictate to Test Environment (only if all previous steps pass)
    - name: Import solution to Test
      if: success()
      uses: microsoft/powerplatform-actions/import-solution@v1
      with:
        PP_ENV_URL: ${{ secrets.PP_ENV_URL  }}
        PP_USERNAME: ${{ secrets.PP_USERNAME  }}
        PP_PASSWORD: ${{ secrets.PP_PASSWORD  }}
        solution-input-file: Solutions/UnderwritingWorkbenchTarget.zip
        overwrite-unmanaged-customizations: true
        publish-changes: true
